body{
    background-color: #ECE5C7;
}
.head{
    background-color:  #887c67;
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 5px solid #887c67;
    border-radius:25px;
}
#flx{
    position: relative;
    top:60px;
    display: flex;
    justify-content: space-evenly;
}
.main1{
    font-family: 'Popins', serif;
    font-size: 80px;
}
.main2{
      width:500px;
}
#home{
 flex-basis: 25px;
}
#head_inside2{
  display: flex;
  gap: 125px;
}
#head_inside1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
    font-size: 30px;
}
@media (max-width:1081px) and (max-height:2401px)
{
    .head{
        display: flex;
        flex-direction:column;
        background-color:#ECE5C7;
        border: 5px solid #ECE5C7;
        height:500px;
        align-items: flex-start;
    }
    #head_inside1{
        background-color: #887c67;
        border: 5px solid #887c67;
        border-radius:20px;
    }
    #head_inside2{
        background-color: rgb(224, 172, 31);
        border: 10px solid rgb(224, 172, 31);
        border-radius: 20px;
        display:flex;
        flex-direction: column;
        gap:2px;
    }
    #flx{
        position: relative;
        top:60px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .main1{
        font-family: 'Libre Baskerville', serif;
        font-size: 50px;
    }
    .main2{
        flex-basis: 200px;
    }
    
}
